{% extends "index.html" %}

{% block content %}
    <h1>Documentos</h1>
    <a href="{% url 'creardocumento' %}" class="btn btn-primary">Crear Documento</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Código</th>
                <th>Revisión</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in lista %}
                <tr>
                    <td>{{ documento.codigo }}</td>
                    <td>{{ documento.revision }}</td>
                    <td>{{ documento.fecha_inicio }}</td>
                    <td>{{ documento.fecha_fin }}</td>
                    <td>
                        <a href="{% url 'editardocumento' documento.codigo %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminardocumento' documento.codigo %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
