{% extends 'dashboard/base.html' %}

{% block content %}
{% if messages %}
<div class="container my-3">
    {% for msj in messages %}
    <div class="alert alert-success" role="alert">
        {{ msj }}
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="post" class="container my-3 p-4 bg-light shadow-lg rounded border border-warning">
{% csrf_token %}

<h2 class="text-center text-black mb-4">Nuevo Area</h2>

<!-- Nombre de Usuario -->
<div class="row mb-3">
    <div class="col-md-6">
    <label for="id_username" class="form-label text-dark">Nombre de Area</label>
    {{ form.username }}
    {% if form.username.errors %}
        <div class="text-danger">
        {% for error in form.username.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        </div>
    {% endif %}
    </div>
</div>

<!-- Botones -->
<div class="text-center mt-4">
    <button type="reset" class="btn btn-outline-warning w-25 mx-2">Limpiar</button>
    <button type="submit" class="btn btn-warning w-25 mx-2">Registrar</button>
    </div>
</form>

{% endblock %}
