<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.6.0/dist/css/sb-admin-2.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block extra_css %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav id="sidebar" class="scrollable-navbar">
            <div class="sidebar-heading">
                <a href="#" style="color: white; text-decoration: none;">
                    <i class="fas fa-cubes"></i> PW Ingeniería
                </a>
            </div>
            <div class="list-group">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <a href="/admin/" class="list-group-item">
                    <i class="fas fa-cogs"></i> Admin
                </a>
                {% endif %}

                <a href="{% url 'resumen' %}" class="list-group-item">
                    <i class="fas fa-tachometer-alt"></i> Resumen
                </a>

                {% if perms.proyectoApp.view_actividad or perms.proyectoApp.view_documento or perms.proyectoApp.view_proyecto or perms.proyectoApp.view_cliente %}
                <div class="dropdown">
                    <a href="#" class="list-group-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-project-diagram"></i> Proyecto
                    </a>
                    <ul class="dropdown-menu">
                        {% if perms.proyectoApp.view_actividad %}
                        <li>
                            <a href="{% url 'actividad-list' %}" class="dropdown-item">
                                <i class="fas fa-tasks"></i> Actividades
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.proyectoApp.view_documento %}
                        <li><a href="{% url 'documento-list' %}" class="dropdown-item">
                                <i class="fas fa-file-alt"></i> Documentos
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.proyectoApp.view_proyecto %}
                        <li><a href="{% url 'proyecto-list' %}" class="dropdown-item">
                                <i class="fas fa-folder"></i> Proyectos
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.proyectoApp.view_cliente %}
                        <li><a href="{% url 'cliente_list' %}" class="dropdown-item">
                                <i class="fas fa-user-friends"></i> Clientes
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}

                {% if perms.baseApp.view_estado %}
                <a href="{% url 'gestionar_estados' %}" class="list-group-item">
                    <i class="fas fa-plus-circle"></i> Estados
                </a>
                {% endif %}
                
                <div class="dropdown">
                    <a href="#" class="list-group-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-project-diagram"></i> Personas
                    </a>
                    <ul class="dropdown-menu">
                        {% if perms.usuarioApp.view_empleado %}
                        <li>
                            <a href="{% url 'empleado_list' %}" class="dropdown-item">
                                <i class="fas fa-users"></i> Empleados
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.auth.view_user %}
                        <li>
                            <a href="{% url 'lista_usuarios' %}" class="dropdown-item">
                                <i class="fas fa-user"></i> Usuarios
                            </a>
                        </li>
                        {% endif %}
                        <!-- Aqui no se que if poner -->
                        {% if user.is_superuser %}
                        <li>
                            <a href="{% url 'asignar_usuarios' %}" class="dropdown-item">
                                <i class="fas fa-user-cog"></i> Grupos
                            </a>
                        </li>
                        {% endif %}
                        <!-- end if -->
                        {% if perms.baseApp.view_custom_group or perms.baseApp.view_group_permission %}
                        <li>
                            <a href="{% url 'manage_groups' %}" class="dropdown-item">
                                <i class="fas fa-user-cog"></i> Permisos
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.proyectoApp.view_cliente %}
                        <li>
                            <a href="{% url 'cliente_list' %}" class="dropdown-item">
                                <i class="fas fa-user-friends"></i> Clientes
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.usuarioApp.view_area %}
                        <li>
                            <a href="{% url 'area_list' %}" class="dropdown-item">
                                <i class="fas fa-building"></i> Área
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.usuarioApp.view_subarea %}
                        <li>
                            <a href="{% url 'subarea_list' %}" class="dropdown-item">
                                <i class="fas fa-sitemap"></i> Sub-Área
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                {% else %}
                <a href="{% url 'login' %}" class="list-group-item">
                    <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                </a>
                <a href="/signup/" class="list-group-item">
                    <i class="fas fa-user-plus"></i> Registrarse
                </a>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <div class="dropdown position-fixed bottom-0 start-0 m-3">
                <button class="btn btn-light dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-user-circle"></i> Hola {{ user.first_name }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user"></i> Mi Perfil
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'password_change' %}">
                            <i class="fas fa-cogs"></i> Cambiar clave
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item text-danger">
                                <i class="fas fa-sign-out-alt"></i> Salir
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}

        </nav>

        <!-- Mobile Toggle Button -->
        <button class="toggle-btn" id="sidebarToggleBtn">
            <i class="fas fa-bars"></i>
        </button>

        <div id="page-content-wrapper">
            <main class="mx-1"> <!-- Este es el lugar donde se renderizará el contenido de cada vista -->
                {% block content %}
                <!-- El contenido de la página -->
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.6.0/dist/js/sb-admin-2.min.js"></script>
    {% block extrascripts %}{% endblock %}
    {% block javascript %}{% endblock %}
    <script>
        // Sidebar para telefonos
        document.getElementById('sidebarToggleBtn').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('toggle');
        });
    </script>
</body>

</html>