{% extends 'dashboard/base.html' %}

{% block content %}
{% if messages %}
  {% for msj in messages %}
    <script>
      Swal.fire('{{ msj }}', '', 'success')
    </script>
  {% endfor %}
{% endif %}

<form method="post" class="container my-3 p-4 bg-light shadow-lg rounded border border-warning">
  {% csrf_token %}
  
  <h2 class="text-center text-black mb-4">Nuevo Proyecto</h2>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="id_codigo" class="form-label text-dark">Código</label>
      {{ form.codigo }}
    </div>
    <div class="col-md-6">
      <label for="id_nombre" class="form-label text-dark">Nombre</label>
      {{ form.nombre }}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="id_fecha_inicio" class="form-label text-dark">Fecha de Inicio</label>
      {{ form.fecha_inicio }}
    </div>

    <div class="col-md-6">
      <label for="id_fecha_fin" class="form-label text-dark">Fecha de Fin</label>
      {{ form.fecha_fin }}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="id_lider" class="form-label text-dark">Líder</label>
      {{ form.lider }}
    </div>

    <div class="col-md-6">
      <label for="id_presupuesto" class="form-label text-dark">Presupuesto</label>
      {{ form.presupuesto }}
    </div>
    <div class="col-md-12">
      <label for="id_observaciones" class="form-label text-dark">Observaciones</label>
      {{ form.observaciones }}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="id_fecha_creacion" class="form-label text-dark">Fecha de Creación</label>
      {{ form.fecha_creacion }}
    </div>
    <div class="col-md-6">
      <label for="id_fecha_modificacion" class="form-label text-dark">Fecha de Modificación</label>
      {{ form.fecha_modificacion }}
    </div>
  </div>

  <div class="text-center mt-4">
    <button type="reset" class="btn btn-outline-warning w-25 mx-2">Limpiar</button>
    <button type="submit" class="btn btn-warning w-25 mx-2">Guardar</button>
  </div>
</form>

{% endblock %}
